*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI';
}
.downHeader>.logo a {
    color: rgb(84, 84, 84);
    font-weight: bold;
    font-size: 25px;
    border-left: #e55c4d solid 10px;
    padding-left: 5px;
}
.hero{
    background-color: #80808029;
    padding: 10px 50px;
    display: grid;
    gap: 0.2vw;
}
.hero > div {
    display: flex;
    gap: 1vw;
}
.hero div > a{
    text-decoration: none;
    color: #e8765b;
}
.hero div > a::after{
    content: '/';
    padding-left: 5px;
    color: #808080b8;
}
.hero h3{
    font-size: 33px;
    color: #000000ce;
}
/* secound section */
.secound-section{
    margin-top: 6vw;
}

/* section data */
.data{
    padding: 6vw 8vw;
    display: flex;
    gap: 3vw;
}
.data .box {
    display: flex;
    flex-direction: column;
    gap: 0.5vw;
    width: 100%;
}
.data > .box .cart{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 4vw;
    font-weight: 500;
    color: #000000c4;
}
.data > .box .cart i{
    color: #e8765b ;
    font-weight: bolder;
    font-size: 3vw;
}
.data > .box  .column {
    padding-left: 4vw;
}
.data .box .column p > span{
    font-weight: 700;
    color: #808080f7;
}
.data .box .column >p {
    color: #80808096;
    width: 10vw;
}
/* last section */
.last-section{
    padding: 6vw 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 3vw;
    justify-items: center;
}
.last-section h1 {
    color: #000000bc;
    position: relative;
}
.last-section h1::before{
    content: '';
    width: 50px;
    height: 3px;
    background-color: #e8765b;
    position: absolute;
    bottom: -1.5vw ;
    left: 5vw
    
}
.last-section .box .cart img{
    width: 20%;
    border-radius: 50%;
    object-fit: cover;
}
.last-section .box{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2vw;
}
.last-section .box .cart{
    display: flex;
    gap: 2vw;
   

}
.last-section .content{
    display: grid;
    box-shadow: 0 4px 9px rgb(0,0,0,0.1);
    gap: 2vw;
}
.last-section .info{
    background-color: rgb(255, 255, 255);
    display: grid;
    gap: 0.2vw;
    width: 90%;
}
.last-section .info > div {
    padding-top: 2vh;
    color: #ffc107;
}
.last-section .info h5 {
    color: #000000ca;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
} 
.last-section .info p{
    color: #4d4c4cc4;
    font-size: 17px;
    text-transform: capitalize;
}
.last-section .text{
    font-style: italic;
    width: 90%;
    line-height: 5vh;
}
.last-section .text > i{
    color: #e8755bcd;
    font-size: 2vw;
    font-weight: 800;
    padding-inline: 1vw;
}
/* btn_bckToTop */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #e8765b;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    z-index: 999;
}
.back-to-top:hover {
    background-color: #e8755b2a;
}
.back-to-top i {
    font-size: 22px;
    line-height: 0;
}

/* ^ media */
@media (max-width: 440px) {
    .hero{
    background-color: #80808029;
    padding: 10px 50px;
    margin-top: 25vw;
    display: grid;
    gap: 0.2vw;
}
/* section data */
.data{

    padding-top: 15vw;
    display: grid;
    gap: 15vw;
}
.data .box{
    width: 100%;
    align-items: center;
}
.data > .box .cart{
    gap: 2vw;
    font-size: 8vw;
    font-weight: 600;
}
.data > .box .cart i{
    font-size: 6vw;
}
.data > .box  .column {
    padding-left: 40vw;    
}
.data .box .column p > span{
    font-weight: 700;
    color: #808080f7;


}
.data .box .column >p {
    color: #80808096;
    width: 100%;
}
/* last section */
.last-section{
    gap: 8vw;
}
.last-section h1 {
    font-size: 40px;
}
.last-section h1::before{
    bottom: -2.5vw ;
    left: 20vw
    
}
.last-section .box .cart img{
    width: 20%;
    height: 20%;
}
.last-section .box{
    grid-template-columns: 1fr ;
    gap: 5vw;
}
.last-section .box .cart{
    display: flex;
    gap: 2vw;
}
.last-section .content{
    gap: 2vh;
    width: 100%;
}
.last-section .info{
    gap: 0vw;
    width: 50%;
}
.last-section .info > div {
    padding-top: 1vh;
    font-size: 10px;
}
.last-section .info h5 {
    font-size: 15px;
} 
.last-section .info p{
    font-size: 12px;
}
.last-section .text{
    width: 90%;
    line-height: 2vh;
}

}