* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css of header */
header {
    font-size: 20px;
}

.topHeader {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    color:rgb(245, 245, 245) ;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

.left-top {
    display: flex;
    align-content: center;
    gap: 20px;
    
    
}
.rightIcon{
display: flex;
}

.leftIcon a{
    color:rgb(245, 245, 245) ;
}
.leftIcon, .rightIcon i{
   color:rgb(209, 101, 82) ; 
}
.right-top i:hover{
color:rgb(209, 101, 82) ;
}

.right-top i{
    color: white;
}


.right-top  {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.downHeader {
    background-color: rgb(255, 255, 255) ;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

 .downHeader a{
        color: rgb(84, 84, 84);
}
.links{
display: flex;
  column-gap: 30px;
}
a:hover{
    color: rgb(209, 101, 82);
}

/* end of css f header  */

/* Service_Section */
/* Section */
.services {
    padding: 60px 50px;
}
/* Grid_card */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
/* Card */
.service-card {
    background: #fff;
    padding: 80px 25px;
    border: 1px solid #e5e5e5;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
/* HoverCard_effet */
.service-card:hover {
    background: #e8765b; 
    color: #fff;
    border-color: transparent;
}
/* Icon */
.service-card .icon {
    font-size: 35px;
    background: #e8765b;
    /* box-shadow: -8px -8px #e8755b4f; */
    box-shadow: -8px -8px #eabbb271;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    transition: 0.3s;
}
/* HoverIcon_effet */
.service-card:hover .icon {
    background: #fff;
    color: #e8765b;
    box-shadow: -8px -8px #eabbb2d2;
}
/* Title */
.service-card h3 {
    font-size: 23px;
    font-family: 'Segoe UI';
    margin-bottom: 10px;
    color: #555;
}
/* HoverTitle_effet */
.service-card:hover h3 {
    color: #fff;
}
/* Text */
.service-card p {
    font-size: 15px;
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #555;
}
/* HoverText_effet */
.service-card:hover p {
    color: #fff;
}
/* end of css Service Section  */
/* Clients_Section */



/* footer{
    background-color: rgb(61, 61, 61);
    width: ;
} */
