* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}
/* --- carousel--- */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
}

.slides-wrapper {
    position: relative;
}

/* all slide */
.carousel-slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    transition: opacity 0.8s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 400px;
    padding: 20px;
    background-size: cover;
    background-position: center;
    background-color: #f8f8f8;
}

/* les images */
.slide-1 {
    background-image: url('../images/hero-carousel/hero-carousel-1.jpg');
}

.slide-2 {
    background-image: url('../images/hero-carousel/hero-carousel-2.jpg');
}

.slide-3 {
    background-image: url('../images/hero-carousel/hero-carousel-3.jpg');
}


.carousel-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75);
    z-index: 1;
}

/* content */
.content {
    position: relative;
    z-index: 2;
    max-width: 650px;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre, Texte, Btn */
.title {
    font-size: 3.5em;
    font-weight: 700;
    line-height: 1.1;
    color: #333333;
    margin-bottom: 20px;
}

.title span {
    color: #e55c4d;
}

.text {
    font-size: 1.1em;
    color: #666666;
    line-height: 1.7;
    margin-bottom: 30px;
}

.btn {
    display: inline-block;
    padding: 12px 30px;
    background-color: #f76e5e;
    color: white;
    text-decoration: none;
    border-radius: 50px;
    font-weight: 600;
}

.btn:hover {
    background-color: #e55c4d;
}

/* ---  Affichage Slides --- */
#slide-dot-1:checked~.slides-wrapper .slide-1 {
    opacity: 1;
    position: relative;
}

#slide-dot-2:checked~.slides-wrapper .slide-2 {
    opacity: 1;
    position: relative;
}

#slide-dot-3:checked~.slides-wrapper .slide-3 {
    opacity: 1;
    position: relative;
}



.flashes-nav {
    display: none;
}

#slide-dot-1:checked~.flashes-nav.flashes-for-1 {
    display: block;
}

#slide-dot-2:checked~.flashes-nav.flashes-for-2 {
    display: block;
}

#slide-dot-3:checked~.flashes-nav.flashes-for-3 {
    display: block;
}

/* L styles of flèches */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #333;
    font-size: 2.5em;
    padding: 15px 20px;
    cursor: pointer;
    line-height: 1;
    border: none;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.carousel-control:hover {
    opacity: 1;
}

.carousel-control.prev {
    left: 20px;
}

.carousel-control.next {
    right: 20px;
}



/* Animation of title*/
.slide-1 .content .title,
.slide-2 .content .title,
.slide-3 .content .title {
    animation-name: scroll;
    animation-duration: 2s;
}

@keyframes scroll {
    from {
        transform: translateY(-100px);
    }

    to {
        transform: translateY(0);
    }

}

/* Animation of text */
.slide-1 .content .text,
.slide-2 .content .text,
.slide-3 .content .text {
    animation-name: identifier;
    animation-duration: 1.5s;
}

@keyframes identifier {
    from {
        transform: translateY(-180px);
    }

    to {
        transform: translateY(0);
    }
}

/* Animation of btn */
.slide-1 .content .btn,
.slide-2 .content .btn,
.slide-3 .content .btn {
    animation-name: btn;
    animation-duration: 2s;
}

@keyframes btn {
    from {
        transform: translateY(150px);
    }

    to {
        transform: translateY(0px);
    }
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI';
}

body {
    padding-top: 120px;
}

/* css of header */
header {
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}

.topHeader {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    color: rgb(245, 245, 245);
    padding-left: 50px;
    padding-right: 50px;

}

a {
    text-decoration: none;
}

.left-top {
    display: flex;
    align-content: center;
    gap: 20px;


}

.rightIcon {
    display: flex;
}
.leftIcon a{
    color:rgb(245, 245, 245) ;
}
.leftIcon, .rightIcon i{
    color:rgb(209, 101, 82) ; 
    color:rgb(209, 101, 82) ; 
}
.right-top i:hover{
color:rgb(209, 101, 82) ;
}

.leftIcon a {
    color: rgb(245, 245, 245);
}

.leftIcon,
.rightIcon i {
    color: rgb(209, 101, 82);
}

.right-top i:hover {
    color: rgb(209, 101, 82);
}

.right-top i {
    color: white;
}


.right-top {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.downHeader {
    background-color: rgb(255, 255, 255);
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

.downHeader a {
    color: rgb(84, 84, 84);
}

.links {
    display: flex;
    column-gap: 30px;
}

a:hover {
    color: rgb(209, 101, 82);
}

/* end of css f header  */

/* hero section  */

/* --- carousel--- */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 3vw; 
}

.slides-wrapper {
    position: relative; 
}

/*  slide */
.carousel-slide {
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0; 
    transition: opacity 0.7s ease-in-out; 
    
    display: flex;
    align-items: center; 
    justify-content: center;
    min-height: 400px; 
    padding: 20px;
    background-size: cover; 
    background-position: center;
    background-color: #f8f8f8;
}

/* ---Images  bg --- */
.slide-1 { background-image: url('../images/hero-carousel/hero-carousel-1.jpg'); } /* Bddel l'path */
.slide-2 { background-image: url('../images/hero-carousel/hero-carousel-2.jpg'); } /* Bddel l'path */
.slide-3 { background-image: url('../images/hero-carousel/hero-carousel-3.jpg'); } /* Bddel l'path */


.carousel-slide::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.75); 
    z-index: 1; 
}

/* Contenu inside slide */
.content {
    position: relative;
    z-index: 2; 
    max-width: 650px; 
    margin: 0 auto; 
    padding: 20px;
    text-align: left; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Titre, Texte, btn */
.title { 
    font-size: 3.5em; font-weight: 700; line-height: 1.1; color: #333333; margin-bottom: 20px; 
}
.title span{
    color: #e55c4d;
}
.text { 
    font-size: 1.1em; color: #666666; line-height: 1.7; margin-bottom: 30px; 
}
.btn {
    display: inline-block; padding: 12px 30px; background-color: #f76e5e; color: white; text-decoration: none; border-radius: 50px; font-weight: 600;
}
.btn:hover { 
    background-color: #e55c4d;
}

/* --- Affichage Slides --- */
#slide-dot-1:checked ~ .slides-wrapper .slide-1 { opacity: 1; position: relative; }
#slide-dot-2:checked ~ .slides-wrapper .slide-2 { opacity: 1; position: relative; }
#slide-dot-3:checked ~ .slides-wrapper .slide-3 { opacity: 1; position: relative; }


/* --- Affichage Flèches of each Groupe --- */
.flashes-nav {
    display: none;
}

#slide-dot-1:checked ~ .flashes-nav.flashes-for-1 { display: block; }
#slide-dot-2:checked ~ .flashes-nav.flashes-for-2 { display: block; }
#slide-dot-3:checked ~ .flashes-nav.flashes-for-3 { display: block; }

/* Styles of Flèches */
.carousel-control {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    color: #333;
    font-size: 2.5em;
    padding: 15px 20px;
    cursor: pointer;
    line-height: 1;
    border: none;
    opacity: 0.5;
    transition: opacity 0.3s;
}

.carousel-control:hover { opacity: 1; }
.carousel-control.prev { left: 20px; }
.carousel-control.next { right: 20px; }



/* animation of title */
.slide-1 .content .title, .slide-2 .content .title, .slide-3 .content .title {
    animation-name: scroll;
    animation-duration: 2s;
}

@keyframes scroll {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
    
}
/* animation of text */
.slide-1 .content .text, .slide-2 .content .text, .slide-3 .content .text {
    animation-name: identifier ;
    animation-duration: 1.5s;
}
@keyframes identifier {
    from{
        transform: translateY(-180px);
    }
    to{
        transform: translateY(0);
    }
}

/* animation of btn */
.slide-1 .content .btn, .slide-2 .content .btn, .slide-3 .content .btn {
    animation-name: btn;
    animation-duration: 2s;
}
@keyframes btn {
    from{
        transform: translateY(130px);
    }
    to{
        transform: translateY(0px);
    }
}

/* css of header */
header {
    font-size: 20px;
}
/* secound section */
.secound-section{
    padding: 0px 50px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 5vw;
}
/* first  side */
.secound-section .first-side {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    background-color: #ffffff;
    width: 100%;
}

.secound-section  .box{
    border: 1px solid #e5e5e5;
    padding: 4vw 2vw;
    display: flex;
    flex-direction: column;
    gap: 3vw;
    height: 100%;
    transition: 0.3s;
}
/* hover for box */
.secound-section .box:hover{
    background-color: #e8765b;
    color: white;
}
/* change color icon */
.secound-section .box .icon  >  .bi{
    font-size: 45px;
    color: #e55c4d;
}
/* hover for icon */
.secound-section .box:hover .icon > .bi {
    color: #ffffff;
}
.secound-section .box .type {
    display: flex;
    flex-direction: column;
    gap: 3vw;
    width: 100%;
}
.secound-section .first-side .box .type p {
    margin-right: 10vw;
    line-height: 2vw;
}
/*  add size title */
.secound-section .first-side .box .type h3{
    font-size: 23px;
    margin-bottom: 10px;
    color: #555;
}
/* hover title */
.secound-section .first-side .box .type:hover h3 {
    color: #fff;
}

/* Text */
.secound-section .first-side .box .type p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
}
/* HoverText_effet */
.secound-section .first-side .box .type:hover p {
    color: #fff;
}

/* * secound-side */
.secound-side{
    display: flex;
    gap: 2vw;
}
.secound-side img {
    width: 50%;
    height: 60%;
}
.secound-side .box-type{
    display: flex;
    flex-direction: column;
    gap: 3vw;    
}

.secound-side .box-type > .column > div {
    display: flex;
    align-items: self-start;
    gap: 1vw;
}
.secound-side .box-type > .column > div > svg {
    color: #e55c4d;
}
.secound-side .box-type > .column > div > p{
    font-size: 18px;
    width: 70%;
    font-weight: 400;    
    color: #000000cf;
}
.secound-side .box-type > div {
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.secound-side .box-type div > h1{
    font-size: 30px;
    width: 90%;
    font-weight: 500;    
    color: #000000cf;
}
.secound-side .box-type div > span{
    color: #555;
    font-size: 16px;    
    font-style: italic;
    
}
.secound-side .box-type > p{
    font-size: 18px;
    width: 90%;
    color: #000000cf;
    font-weight: 400;
}



/* Service_Section */
/* Section */
.services {
    padding: 60px 50px;
}

/* Grid_card */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

/* Card */
.service-card {
    background: #fff;
    padding: 80px 25px;
    border: 1px solid #e5e5e5;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}

/* HoverCard_effet */
.service-card:hover {
    background: #e8765b;
    color: #fff;
    border-color: transparent;
}

/* Icon */
.service-card .icon {
    font-size: 35px;
    background: #e8765b;
    /* box-shadow: -8px -8px #e8755b4f; */
    box-shadow: -8px -8px #eabbb271;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    transition: 0.3s;
}

/* HoverIcon_effet */
.service-card:hover .icon {
    background: #fff;
    color: #e8765b;
    box-shadow: -8px -8px #eabbb2d2;
}

/* Title */
.service-card h3 {
    font-size: 23px;
    font-family: 'Segoe UI';
    margin-bottom: 10px;
    color: #555;
}

/* HoverTitle_effet */
.service-card:hover h3 {
    color: #fff;
}

/* Text */
.service-card p {
    font-size: 15px;
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #555;
}

/* HoverText_effet */
.service-card:hover p {
    color: #fff;
}

/* end of css Service Section  */
/* Clients_Section */
.clients-section {
    padding: 60px 0;
    text-align: center;
    display: grid;
    grid-template-rows: auto;
    row-gap: 50px;
}
.clients-section .title h2 {
    font-size: 35px;
    margin-bottom: 10px;
     color: #555;
     font-family: 'Segoe UI';
}
.section-title {
  position: relative;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 20px; 
  display: inline-block;
}
/*border title*/
.section-title::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 60px;      
  height: 3px;      
  background: #e55c4d; 
  border-radius: 2px;
}
.clients-section .title p {
    font-size: 20px;
    color: #555;
    line-height: 1.6;
    font-family: 'Segoe UI';
    font-weight: lighter;
    padding-inline: 70px;
}
.btnscroll {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;   
  gap: 8px;           
}
.btnscroll button {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: none;
  background: #66666644; 
  cursor: pointer;
  transition: 0.3s ease;
}
.btnscroll button.active {
  background: #e55c4d;   
}
/* SLIDER */
.slider {
    overflow: hidden;
    width: 100%;
}
.slide-track {
    display: flex;
    width: max-content; 
    transition: transform 0.5s ease; 
    /* width: calc(200px * 16);
    animation: scroll 24s linear infinite;  */
}
.slide {
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slide img {
    width: 120px;
    opacity: 0.7;
    transition: 0.3s;
    filter: grayscale(100%);
}
.slide img:hover {
    opacity: 1;
    filter: none;
}

/* Animation auto */
/* @keyframes scroll {} */
/* end of css Client Section */

/* css footer part */
footer {
    background-color: rgb(61, 61, 61);
    color: rgb(255, 255, 255);
    height: 90vh;
}

/* top footer */
.topFooter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(69, 69, 69);
    height: 40vh;
    row-gap: 30px;
}

footer a {
    text-decoration: none;
    color: rgb(115, 117, 135);
}

footer a:hover {
    color: rgb(232, 108, 86);
}

.topFooter input {
    position: relative;
    border-radius: 20px / 30px;
    border: none;
    background-color: rgb(87, 87, 87);
    width: 40vw;
    height: 33px;
}

.topFooter button {
    position: absolute;
    width: 13vw;
    height: 35px;
    border-radius: 20px / 30px;
    border: none;
    background-color: rgb(232, 108, 86);
    color: white;
    right: 29vw;
}

/* second part of footer */

.middleFooter{
    margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;
    background-color: rgb(61, 61, 61);
}

/* left part of middle part */
.leftMiddle {
    width: 40vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.middleFooter i {
    color: rgb(232, 108, 86);
}

/*right part of middle  */
.rightMiddle {
    display: grid;
    grid-template-columns: 100px 90px 90px;
    align-items: center;
    justify-content: center;
    gap: 40px;

}

.rightMiddle .fotterMedia,
.footerLinks,
h4 {
    flex-direction: column;
    row-gap: 10px;
}

.fotterMedia i {
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.fotterMedia i:hover {
    color: rgb(232, 108, 86);
    border-color: rgb(232, 108, 86);
}

.footerLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}

/* the border in footer */
.footerBrd {
    background-color: rgb(79, 79, 79);
    height: 1px;
    width: 90vw;
    left: 5%;
    position: relative;
}

/* last part of footer */
.endFooter {
    /* margin-top: 50px; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 10vh; */
}

.endFooter span {
    font-weight: bold;
}

#check {
    display: none;
}

.open {
    display: none;

}
.close{
    display: none;
}

/* btn_bckToTop */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #e8765b;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    z-index: 999;
}
.back-to-top:hover {
    background-color: #e8755b2a;
}
.back-to-top i {
    font-size: 22px;
    line-height: 0;
}

/* media query */
@media (max-width: 440px) {
    body {
        padding-top: 60px;
    }

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        background: #fff;


    }

    .topHeader {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;

    }

    .left-top .leftIcon {
        display: flex;
        align-items: center;



    }

    .left-top .rightIcon {
        display: flex;
        align-items: center;
        width: 40vw;

    }

    .topHeader .right-top {
        display: none;
    }

    .downHeader {
        display: flex;
        justify-content: space-between;

    }

    .downHeader .links {
        display: none;
        color: white;
    }


    .open {
        display: block;

    }

    .close {
        display: none;
    }

    footer {
        width: 100%;
    }

    .topFooter {
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .middleFooter {
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        row-gap: 20px;
    }

    .fotterMedia i:hover {
        color: rgb(232, 108, 86);
        border-color: rgb(232, 108, 86);
    }

    .rightMiddle i {
        display: inline-flex;
        align-items: center;


    }

    .second {
        display: inline-flex;
        align-items: center;

    }

    .footerBrd {
        background-color: rgb(79, 79, 79);
        width: 100%;
        left: 0%;
    }

    .endFooter {
        height: 20vh;
        background-color: rgb(61, 61, 61);
        padding-top: 10px;
    }

    .topFooter button {
        right: 10vw;
        width: 25vw;
    }

    .topFooter input {
        width: 80vw;
        height: 35px;
    }


.downHeader .links {
        position: fixed;
        top: 0;
        left: -70%;
        width: 100vw;         
        height: 100vh;        
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: left 0.3s ease;
        z-index: 9999;   
        color: white;    
}


#check:checked ~ .links {
    left: 0;
    
}


.downHeader .open {
    display: block;
}


.downHeader .close {
    display: none;
}


#check:checked ~ .open {
    display: none;
}

#check:checked ~ .close {
    display: block;
}
.downHeader .links a {
    color: white;       
    text-decoration: none;
}
.downHeader .close label i {
    color: white;       
    font-size: 2em;
   position: absolute;          
    top: 20px;
    right: 20px;
    z-index: 10000;}


    

    /* ~ hero section */
    .carousel-control {
    font-size: 3em;
    padding: 11vw 0px;
    }
    .carousel-control.prev { left: 5px; }
    .carousel-control.next { right: 5px; }

.title { 
    padding-top: 11vw;
    font-size: 1.5em; 
    font-weight: 500; 
    line-height: 1.1; 
    color: #333333;
    margin-bottom: 20px; 
    width: 80%;
}
.title span{
    color: #e55c4d;
}
.text { 
    font-size: 0.5em;
    color: #666666; 
    line-height: 1.7; 
    margin-bottom: 30px; 
    width: 60%;
}
.btn {
    display: inline-block;
    padding: 5px 30px;
    background-color: #f76e5e; 
    color: white; text-decoration: none; 
    border-radius: 50px; 
    font-weight: 600;
}
.btn:hover { 
    background-color: #e55c4d;
}
/* animation of title */
.slide-1 .content .title, .slide-2 .content .title, .slide-3 .content .title {
    animation-name: scroll;
    animation-duration: 2s;
}

@keyframes scroll {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0);
    }
    
}
/* animation of text */
.slide-1 .content .text, .slide-2 .content .text, .slide-3 .content .text {
    animation-name: identifier ;
    animation-duration: 1.5s;
}
@keyframes identifier {
    from{
        transform: translateY(-150px);
    }
    to{
        transform: translateY(0);
    }
}

/* animation of btn */
.slide-1 .content .btn, .slide-2 .content .btn, .slide-3 .content .btn {
    animation-name: btn;
    animation-duration: 2s;
}
@keyframes btn {
    from{
        transform: translateY(130px);
    }
    to{
        transform: translateY(0px);
    }
}
    /* ? secound section */
    .secound-section{
        display: grid;
        grid-template-columns: 1fr;
        gap: 4vw;
    }
    /* first-side */
    .secound-section > .first-side{
        display: grid;
        grid-template-columns: 1fr;
        gap: 3vw;
        width: 100%;
    }
    .first-side .box{
        width: 100vw;
    }
    .first-side .box .type p{
        width: 100%;
    }
    /* secound side  */
    .secound-side{
        flex-direction: column-reverse;
    }
    .secound-side img {
        width: 100%;
    }
    .secound-side .box-type > div > span {
        width: 100%;
        font-size: 15px;
    }
    

    .secound-side .box-type{
    gap: 6vw;    
}

.secound-side .box-type > .column > div {
    gap: 1.5vw;
}
.secound-side .box-type > .column > div > p{
    font-size: 15px;
    width: 100%;
}
.secound-side .box-type > div {
    gap: 1.5vw;
}
.secound-side .box-type div > h1{
    font-size: 25px;
    width: 90%;
}

.secound-side .box-type > p{
    font-size: 16px;
    width: 100%;
}






}