* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css of header */
header {
    font-size: 20px;
}

.topHeader {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    color:rgb(245, 245, 245) ;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

.left-top {
    display: flex;
    align-content: center;
    gap: 20px;
    
    
}
.rightIcon{
display: flex;
}

.leftIcon a{
    color:rgb(245, 245, 245) ;
}
.leftIcon, .rightIcon i{
   color:rgb(209, 101, 82) ; 
}
.right-top i:hover{
color:rgb(209, 101, 82) ;
}

.right-top i{
    color: white;
}


.right-top  {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.downHeader {
    background-color: rgb(255, 255, 255) ;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

 .downHeader a{
        color: rgb(84, 84, 84);
}
.links{
display: flex;
  column-gap: 30px;
}
a:hover{
    color: rgb(209, 101, 82);
}

/* end of css f header  */



/* footer{
    background-color: rgb(61, 61, 61);
    width: ;
} */