* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* css of header */
header {
    font-size: 20px;
}

.topHeader {
    background-color: rgb(61, 61, 61);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6vh;
    color:rgb(245, 245, 245) ;
    padding-left: 50px;
    padding-right: 50px;
}

a {
    text-decoration: none;
}

.left-top {
    display: flex;
    align-content: center;
    gap: 20px;
    
    
}
.rightIcon{
display: flex;
}

.leftIcon a{
    color:rgb(245, 245, 245) ;
}
.leftIcon, .rightIcon i{
   color:rgb(209, 101, 82) ; 
}
.right-top i:hover{
color:rgb(209, 101, 82) ;
}

.right-top i{
    color: white;
}


.right-top  {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.downHeader {
    background-color: rgb(255, 255, 255) ;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

 .downHeader a{
        color: rgb(84, 84, 84);
}
.links{
display: flex;
  column-gap: 30px;
}
a:hover{
    color: rgb(209, 101, 82);
}

/* end of css f header  */

/* Service_Section */
/* Section */
.services {
    padding: 60px 50px;
}
/* Grid_card */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
/* Card */
.service-card {
    background: #fff;
    padding: 80px 25px;
    border: 1px solid #e5e5e5;
    text-align: center;
    transition: 0.3s;
    cursor: pointer;
}
/* HoverCard_effet */
.service-card:hover {
    background: #e8765b; 
    color: #fff;
    border-color: transparent;
}
/* Icon */
.service-card .icon {
    font-size: 35px;
    background: #e8765b;
    /* box-shadow: -8px -8px #e8755b4f; */
    box-shadow: -8px -8px #eabbb271;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    transition: 0.3s;
}
/* HoverIcon_effet */
.service-card:hover .icon {
    background: #fff;
    color: #e8765b;
    box-shadow: -8px -8px #eabbb2d2;
}
/* Title */
.service-card h3 {
    font-size: 23px;
    font-family: 'Segoe UI';
    margin-bottom: 10px;
    color: #555;
}
/* HoverTitle_effet */
.service-card:hover h3 {
    color: #fff;
}
/* Text */
.service-card p {
    font-size: 15px;
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #555;
}
/* HoverText_effet */
.service-card:hover p {
    color: #fff;
}
/* end of css Service Section  */
/* Clients_Section */



/* css footer part */
footer{
    background-color:rgb(61, 61, 61) ;
    color: rgb(255, 255, 255);
    height: 90vh;
}
/* top footer */
.topFooter{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(69, 69, 69);
    height: 40vh;
    row-gap: 30px;
}
footer a{
    text-decoration: none;
    color:rgb(115, 117, 135);
}
footer a:hover{
    color: rgb(232, 108, 86);
}
.topFooter input{
    position: relative;
    border-radius: 20px / 30px;
    border: none;
    background-color: rgb(87, 87, 87);
    width: 40vw;
    height: 33px;
}
.topFooter button{
    position: absolute;
    width: 13vw;
    height: 35px;
    border-radius: 20px / 30px;
    border: none;
    background-color: rgb(232, 108, 86);
    color: white;
    right: 29vw; 
}

/* second part of footer */
.middleFooter{
   margin-bottom: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
    padding-top: 30px;
    padding-left: 70px;
    padding-right: 70px;  
}
/* left part of middle part */
.leftMiddle{
    width: 40vw;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.middleFooter i{
    color:rgb(232, 108, 86) ;
}
/*right part of middle  */
.rightMiddle{
    display: grid;
    grid-template-columns: 100px 90px 90px;
    align-items: center;
    justify-content: center;
    gap: 40px;
  
}

.rightMiddle .fotterMedia, .footerLinks, h4{
    flex-direction: column;
    row-gap: 10px;
} 
.fotterMedia i{
    color: white;
    border-radius: 50%;
    border: 1px solid white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.fotterMedia i:hover{
    color:rgb(232, 108, 86) ;
    border-color: rgb(232, 108, 86); 
}

.footerLinks{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20vw;
}
/* the border in footer */
.footerBrd{
background-color: rgb(79, 79, 79);
height: 1px;
width: 90vw;
left: 5%;
position: relative;
}

/* last part of footer */
.endFooter{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.endFooter span{
    font-weight: bold;
}

/* media query */
@media (max-width: 425px){
    
}
