/* Section */
.services {
    padding: 60px 50px;
}
/* Grid_card */
.services-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}
/* Card */
.service-card {
    background: #fff;
    padding: 80px 25px;
    border: 1px solid #e5e5e5;
    text-align: center;
    transition: 0.3s;
}
/* HoverCard_effet */
.service-card:hover {
    background: #e8765b; 
    color: #fff;
    border-color: transparent;
}
/* Icon */
.service-card .icon {
    font-size: 35px;
    background: #e8765b;
    /* box-shadow: -8px -8px #e8755b4f; */
    box-shadow: -8px -8px #eabbb271;
    color: white;
    width: 65px;
    height: 65px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 15px;
    transition: 0.3s;
}
/* HoverIcon_effet */
.service-card:hover .icon {
    background: #fff;
    color: #e8765b;
    box-shadow: -8px -8px #eabbb2d2;
}
/* Title */
.service-card h3 {
    font-size: 23px;
    font-family: 'Segoe UI';
    margin-bottom: 10px;
    color: #555;
}
/* HoverTitle_effet */
.service-card:hover h3 {
    color: #fff;
}
/* Text */
.service-card p {
    font-size: 15px;
    font-family: 'Segoe UI';
    line-height: 1.6;
    color: #555;
}
/* HoverText_effet */
.service-card:hover p {
    color: #fff;
}

