.topContact {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.homeContact {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.homeContact p,
.secContact h2 {
    color: rgb(84, 84, 84);
}

.formulaire {
    /* background-color: rgb(85, 216, 216); */
    height: 90vh;


}

.firstForm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    margin-top: 20px;
}

.firstForm1 {
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 30vh;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5xp 5px black;
}

.firstForm2,
.firstForm3 {
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 30vh;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5xp 5px black;
}

.firstFormi {
    border: 1px solid black;
    border-radius: 50%;
}

.firstForm i {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 2px dotted #ff6a3d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6a3d;
    font-size: 22px;
}

.contactsecpart {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 60px;
    margin-top: 30px;
    padding: 20px;

}

.formContact form {
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5xp 5px black;
    height: 50vh;
    width: 500px;
    text-align: center;
}
.formContact{
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;
    
}
.topForm {
    display: flex;
    justify-content: center;
    width: 450px;
    gap: 15px
}

.topForm input,
.lastForm input {
    height: 6vh;
    width: 20vw;

}

.lastForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contactMap iframe {
    width: 600px;
    height: 350px;
    border: none;
    border-radius: 8px;
}

form button {
    width: fit-content;
    padding: 12px 25px;
    background: #e36b5c;
    color: #fff;
    border: transparent;
    border-radius: 20px;

}

.topForm {
    display: flex;
    gap: 15px;
}


form button:hover {
    background: #cf5a4b;
}