.downHeader>.logo a {
    color: rgb(84, 84, 84);
    font-weight: bold;
    font-size: 25px;
    border-left: #e55c4d solid 10px;
    padding-left: 5px;
}
.topContact {
    background-color: rgb(247, 247, 247);
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.homeContact {
    display: flex;
    align-items: center;
    column-gap: 8px;
}
.homeContact a{
    color: #e36b5c;
}
.homeContact p,
.secContact h2 {
    color: rgb(84, 84, 84);
}

.formulaire {
    /* background-color: rgb(85, 216, 216); */
    height: 90vh;


}

.firstForm {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 40px;
    margin-top: 20px;
}

.firstForm1 {
    background-color: rgb(255, 255, 255);
    width: 40vw;
    height: 30vh;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5xp 5px black;
}

.firstForm2,
.firstForm3 {
    background-color: rgb(255, 255, 255);
    width: 20vw;
    height: 30vh;
    text-align: center;
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    box-shadow: 5px 5xp 5px black;
}

.firstFormi {
    border: 1px solid black;
    border-radius: 50%;
}

.firstForm i {
    width: 60px;
    height: 60px;
    margin: 0 auto 15px;
    border-radius: 50%;
    border: 2px dotted #ff6a3d;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ff6a3d;
    font-size: 22px;
}

.contactsecpart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 90px;
    margin-top: 30px;
    padding: 20px;

}

.formContact form {
    border: transparent;
    border-radius: 8px;
    padding: 40px 20px;
    background: #fff;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.08);
    height: 50vh;
    width: 500px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.formContact {
    display: flex;
    flex-direction: column;
    width: 400px;
    align-items: center;
    justify-content: center;

}

.topForm {
    display: flex;
    justify-content: center;
    width: 450px;
    gap: 15px
}

.topForm input,
.lastForm input {
    height: 6vh;
    width: 20vw;


}

.lastForm {
    display: flex;
    flex-direction: column;
    width: 450px;
    gap: 15px;
}

.contactMap iframe {
    width: 600px;
    height: 350px;
    border: none;
    border-radius: 8px;
}

form button {
    width: fit-content;
    padding: 12px 25px;
    background: #e36b5c;
    color: #fff;
    border: transparent;
    border-radius: 20px;

}




form button:hover {
    background: #cf5a4b;
}
/* btn_bckToTop */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #e8765b;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    z-index: 999;
}
.back-to-top:hover {
    background-color: #e8755b2a;
}
.back-to-top i {
    font-size: 22px;
    line-height: 0;
}


@media (max-width: 425px) {
    .formulaire {
        height: 100%;
    }

    .firstForm {
        height: 100vh;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    .topContact{
        margin-top: 15vw;
    }


    .topForm {

        flex-direction: column;
        width: 100%;
        gap: 15px;
    }

    .formMobile {
        width: 100%;
        height: 100vh;
    }


    .lastForm {
        width: 100%;
        gap: 15px;
    }


    .topForm input,
    .lastForm input {
        width: 70%;
        height: 45px;
        box-sizing: border-box;
    }

    .formContact form {
        
        text-align: center;
        width: 90vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .formContact button {
        width: 80%;
        height: 45px;
        box-sizing: border-box;
    }


    .contactsecpart {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        gap: 20px;
    }


    .contactMap {
        width: 100%;
    }

    .contactMap iframe {
        width: 100%;
        height: 250px;
    }


    /* nav */
    .downHeader .links {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100vw;         
        height: 100vh;        
        background-color: #333;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        transition: left 0.3s ease;
        z-index: 999;   
        color: white;    
}


#check:checked ~ .links {
    left: 0;
    
}


.downHeader .open {
    display: block;
}


.downHeader .close {
    display: none;
}


#check:checked ~ .open {
    display: none;
}

#check:checked ~ .close {
    display: block;
}
.downHeader .links a {
    color: white;       
    text-decoration: none;
}
.downHeader .close label i {
    color: white;       
    font-size: 2em;
   position: absolute;          
    top: 20px;
    right: 20px;
    z-index: 10000;}
}