
.team-section {
    padding: 60px 20px;
    background-color: #f9f9f9;
    text-align: center;
}
.team-section h2 {
    font-size: 2rem;
    margin-bottom: 40px;
    color: #333;
}
.team-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
}
.team-member {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 250px;
    transition: transform 0.3s, box-shadow 0.3s;
}
.team-member img {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 15px;
}
.team-member h3 {
    margin: 10px 0 5px;
    font-size: 1.2rem;
}
.team-member p {
    color: #777;
    font-size: 0.9rem;
}
.team-member:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}
.team-social a {
    color: #444;
    font-size: 20px;
    transition: 0.3s;
}

.team-social a:hover {
    color: #c45a4b;
}
/* Responsive pour mobile */

@media (max-width: 425x) {
    .team-grid {
        grid-template-columns: 1fr;
    }
}

/* btn_bckToTop */
.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
    background: #e8765b;
    color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    text-decoration: none;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    z-index: 999;
}
.back-to-top:hover {
    background-color: #e8755b2a;
}
.back-to-top i {
    font-size: 22px;
    line-height: 0;
}